[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "wiredtiger"]
	path = third_party/wiredtiger
	url = https://github.com/wiredtiger/wiredtiger.git
	branch = mongodb-8.2.7
[submodule "third_party/openCypher"]
	path = third_party/openCypher
	url = https://github.com/opencypher/openCypher.git
